*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    font-family: var(--font);
}


:root{
    --maincolor: #ec1c24;
    --bgcolor: #ffffff;
    --big-font: 50px;
    --medium-font: 20px;
    --small-font: 14px;
    --very-small-font: 12px;
    --font: 'Poppins', sans-serif;
}

/*Animations*/
@keyframes fade{
    from{
        opacity: 0;
        filter: blur(2px);
    }

    to{
        opacity: 1;
        filter: blur(0);
    }

}

@keyframes fadetop{
    from{
        opacity: 0;
        transform: translateY(-60px);
    }

    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes faderight{
    from{
        opacity: 0;
        transform: translateX(60px);
    }

    to{
        opacity: 1;
        transform: translateX(0px);
    }
}


@keyframes dropdown {
    from{
        transform: translateY(-200px);
        opacity: 0;
        filter: blur(5px);
    }

    to{
        transform: translateY(0px);
        opacity: 1;
        filter: blur(0);
    }
}


/*image border rotate*/
    @keyframes rotate {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}

/*show and hide*/



/* Nav Bar */

nav{
    font-family: var(--font);
    position: sticky;
    z-index: 1000;
    background-color: #f9f9f9;
}

nav ul li{
    opacity: 70%;
    transition: .4s;
}

nav ul li:hover{
    opacity: 100%;
    color: var(--maincolor);
    transition: .4s;
}

#order-btn{
    background-color: var(--maincolor);
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
    font-size: var(--small-font);
}


/* Section CSS */

.section h1{
    font-size: var(--big-font);
    font-family: var(--font);
    font-weight: 700;
    animation: fadetop linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}

.section h2{
    animation: faderight linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 30%;
    font-size: var(--medium-font);
}



/*Button Animation*/

.btn{
    border: 2px solid var(--maincolor);
    padding: 5px 20px;
    color: var(--maincolor);
    border-radius: 30px;
    transition: .5s;
    background: none;
    overflow: hidden;
    position: relative;
}

.btn:hover{
    color: white;
}

.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--maincolor);
    z-index: -1;
    transition: .5s;
    top: 0; 
}

.btn:hover::before{
    width: 100%;
}

#rotate-img{
    border-top: 15px solid black;
    border-bottom: 15px solid #ec1c24;
    border-left: 15px solid black;
    border-right: 15px solid #ec1c24;
    border-radius: 50%;
    animation: rotate 10s linear infinite;
}



#menu, #quickbite{
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}




#header{
    animation: dropdown 2s ease-in-out  ;
}